# Project exclude paths
/springcloud-api/target/
/Springcloud-dept-consumer-80/target/
/springcloud-eureka-7001/target/
/springcloud-eureka-7002/target/
/springcloud-eureka-7003/target/
/springcloud-provieder-dept-8001/target/